<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <base href="/">
    <!-- comment ou when shifting to electron -->
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>PorjectTitle</title>
    <link rel="stylesheet" href="css/table-style.css">
    <!-- <link rel="stylesheet" href="../assets/css/table-style.css"> -->
</head>

<body>
    <main class="max-widthwrapper">
        <div class="view-header">
            <div class="page-title">
                <a href="/" class="open-link">Go Back</a>
                <span>
                    <%=data.cmlnum%> - <%=data.filekeyType%>
                </span>
            </div>

            <div class="view-header-buttons">
                <form action="http://localhost:3000/addSingle" method="POST" enctype="multipart/form-data">
                    <input id="<%=data.filekey%>-submit-btn" type="submit" value="Add"
                        class="custom-file-upload-table table-submit-btn btn-hide">
                    <div class="input-cell">
                        <input type="text" name="cmlNumber" id="cmlNumber" value="<%=data.cmlnum%>-<%=data.filekey%>"
                            style="display:none">
                        <label for="<%=data.filekey%>" class="custom-file-upload">Browse</label>
                        <input type="file" name="single-file" id="<%=data.filekey%>" onchange="updateFileName(this)"
                            multiple>
                        <span id="<%=data.filekey%>-filename">No File Chosen</span>
                    </div>
                </form>
            </div>
        </div>

        <table class="view-table">
            <thead>
                <th>
                    S. No
                </th>
                <th>
                    File Name
                </th>
                <th>
                    Actions
                </th>
            </thead>
            <tbody id="table-rows">

                <% for(let i=0 ; i < data.tableRows.length ; i++) { %>
                    <tr>
                        <td>
                            <%= i+1 %>.
                        </td>
                        <td>
                            <%= data.tableRows[i].filename %>
                        </td>
                        <td class="actions-cell">
                            <div class="action-button-container">
                                <div>
                                    <a href="/delSingle/<%=data.cmlnum%>-<%=data.filekey%>-<%=data.tableRows[i].filename%>"
                                        class="open-link">
                                        Remove
                                    </a>
                                </div>
                                <div>
                                    <a href=<%=data.tableRows[i].url%> target="_blank" class="open-link">
                                        View
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% }%>
            </tbody>
        </table>
    </main>

    <script type="text/javascript">

        function updateFileName(input) {
            // getting the displayspan
            var fileNameDisplayID = input.id + "-filename"
            var fileName = document.getElementById(fileNameDisplayID);
            var submitButton = document.getElementById(input.id + "-submit-btn");

            // checking the condition to display
            if (input.files.length > 0) {
                fileName.style.color = "green";
                fileName.innerHTML = input.files.length + " file(s) chosen";
                // displaying its submit button
                submitButton.classList.toggle("btn-hide");
            } else {
                submitButton.classList.toggle("btn-hide");
                fileName.textContent = '';
            }
        }
    </script>
</body>

</html>