* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-table {
  width: 90vw;
  border: 1px solid rgb(212, 212, 212);
  margin: auto;
  margin-top: 20px;
}

.main-table tr {
  background-color: rgb(201, 201, 201);
  height: 50px;
}

.main-table td {
  padding: 10px 20px;
}
